*{
    margin: 0;
    padding: 0;
}


:root{
    --cor1 : rgb(211,211,211);
    --cor2 : rgb(17, 45, 126);
    --cor3 : rgb(93, 140, 233);
    --cor4 : #fff
}


body{
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    
}

.TituloRotina {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--cor2);
    width: 99.7%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    max-height: 45px;
    color: white;
    font-size: 25px;
    position: sticky;
  }
  
  


.Menu ul{
    font-size: 15px;
}

.Menu ul{
    background-color: var(--cor2);
    margin-top: 0;
}

.Menu ul li {
    display: inline;
    position: relative;
}

.Menu ul li a{
    color: var(--cor4);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.Menu ul li a:hover{
    background-color: var(--cor3);
}   



/* SUB MENU*/

.Menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    background-color: var(--cor3);

}

.Menu ul li:hover ul {
    display: block;
    background-color: var(--cor2);
    z-index: 2;
}

.Menu ul ul {
    width: 250px;

}


.Menu ul ul li a {
    display: flex;
    color: var(--cor4);
    justify-content: left;
}

