/* Paleta de cores para Empresa A */
:root.palheta-empresa-a {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff;
}

/* Paleta de cores para Empresa B */
:root.palheta-empresa-b {
    --cor1: rgb(255, 255, 255);
    --cor2: black;
    --cor3: darkgray;
    --cor4: black;
}

.Corpo{
    background-color: var(--cor2);
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.right-menu-item {
    margin-left: auto;
}

.TituloPrograma {
    margin-top: 15px;
    font-size: 25px;
    background-color: var(--cor2);
    width: 100%;
    text-align: center;
    color: var(--cor4);
    padding: 10px;
}

/* Estilo do Modal de Loading */
.ModalLoading {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo dos Filtros */
.Filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.DataInicio, .DataFim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.DataInicio input, .DataFim input {
    text-align: center;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

/* Estilo dos botões */
#btnFiltrar, #btnCadastrar {
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#btnCadastrar {
    margin-left: 10px;
}

/* Estilo do Modal de Cadastro de Embalagem */
.ModalCadastroEmbalagem {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.ModalCadastroEmbalagem-content {
    position: relative;
    background-color: #fff;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    z-index: 3;
    overflow: hidden;
}

.ModalCadastroEmbalagem-content > * {
    box-sizing: border-box;
    max-width: 100%;
}

.ModalCadastroEmbalagem-content h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--cor2);
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    border: 5px;
    margin: 0;
    z-index: 4;
}

button {
    padding: 10px 20px;
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ModalCadastroEmbalagem-content #CodigoCaixa {
    display: block;
    margin-top: 60px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: var(--cor1);
    z-index: 1000;
}
/* Estilo da Caixa de Confirmação */
.confirmation-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    align-items: center;
    text-align: center;
}

.confirmation-box h2 {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.confirmation-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.confirmation-box button.cancel {
    background-color: #b7acac;
}

/* Estilo das Tabelas */
.TabelasCaixas {
    overflow-x: auto;
}

.TabelaCaixa {
    width: 100%;
    border-collapse: collapse;
}

.TabelaCaixa th, .TabelaCaixa td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Estilo para telas menores */
@media only screen and (max-width: 768px) {
    .Filtros {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .DataInicio, .DataFim {
        margin-bottom: 10px;
    }

    .DataInicio input, .DataFim input {
        width: 100%;
    }

    .TabelasCaixas {
        margin-top: 30px;
    }
}
