.TabelasReposicao {
  border-collapse: collapse;
  border: 2px solid darkgray;
  margin-left: 10%;
  width: 80%;
  max-width: 1550px;
  min-height: 600px;
  max-height: 650px;
  text-align: center;
  margin-top: 10px;
  overflow: auto;
  }

  
        
.TabelasReposicao .TabelaFilaReposicao{
  font-size: 15px;
  border-collapse: collapse;
  border: 2px solid darkgray;
  min-width: 2000px;
  overflow: auto;
  font-size: 20px;
}
   
.TabelasReposicao .TabelaFilaReposicao th {
  background-color: rgb(17, 45, 126);;
  max-height: 20px;
}
        
.TabelasReposicao .TabelaFilaReposicao tdd {
  height: 40px; /* Defina a altura desejada em pixels */
  vertical-align: middle; /* Centraliza o conteúdo verticalmente */
  overflow: hidden; /* Oculta o conteúdo extra que ultrapassar a altura definida */
}
        

.TabelasReposicao .TabelaFilaReposicao thead{
  position: sticky;
  top: 0;
  background-color: rgb(17, 45, 126);
  z-index: 1;
  border: 2px solid rgb(17, 45, 126);
  color: white;
}

.Rodape i{
    color: rgb(125, 223, 125);
    font-size: 3vh;
    cursor: pointer;
}
