.CorpoEnderecos{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    align-items: center;
    
}

.Comboboxex select{
    border: 2px solid darkgray;
    border-radius: 10px;
    font-size: 20px;
}



@media screen and (min-width: 870px) {

.Opcao{
    text-align: center;
    width:11.5%;
    margin-right: 2%;
}

.Opcao label{

    font-size: 20px;
}

.Comboboxex{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.Comboboxex select{
    border: 2px solid darkgray;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.Comboboxex label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.ComboBoxLabel {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.BotaoCad{
    margin-top: 10px;
    text-align: center;
}

#ButtonCad{
    font-size: 20px;
    background-color: rgb(17, 45, 126);
    color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.LinhaDiv{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    height: 0.1vh;
    background-color: rgb(17, 45, 126);
}

.SelecaoEnderecos{
    display: none;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.SelecaoInicial{
    margin-top: 15px;
    margin-right: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
 
    
}

.SelecaoFinal{
    margin-top: 15px;
    margin-left: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.SelecaoInicial #inputRuaInicial,
.SelecaoInicial #InputModuloInicial,
.SelecaoInicial #InputPosicaoInicial{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.SelecaoFinal #inputRuaFinal,
.SelecaoFinal #InputModuloFinal,
.SelecaoFinal #InputPosicaoFinal{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.SelecaoEnderecos label{
    font-size: 20px;
    font-weight: bold;
}

.SelecaoEnderecos input{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid darkgray;
    border-radius: 10px;
}

.DivBotoes{
    width: 80%;
    margin-left: 10%;
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.DivBotoes button{
   font-size: 20px;
   text-align: center;
   margin-left: 10px;
   border: 2px solid lightgray;
   border-radius: 5px;
   background-color: rgb(17, 45, 126);
   color: white;
   cursor: pointer;
}

}

@media screen and (max-width: 870px) {
    .Opcao{
        text-align: right;
        width: 17%;
        margin-right: 2%;
    
    }

    .Opcao label{
        font-size: 15px;
    }
    
    .Comboboxex{
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: center;
    }

    .Comboboxex select{
        border: 2px solid darkgray;
        border-radius: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .Comboboxex label{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .BotaoCad{
        margin-top: 10px;
        text-align: center;
    }

    #ButtonCad{
        font-size: 15px;
        background-color: rgb(17, 45, 126);
        color: white;
        border: 2px solid lightgray;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
    }

    .LinhaDiv{
        margin-top: 10px;
        width: 80%;
        margin-left: 10%;
        height: 0.1vh;
        background-color: rgb(17, 45, 126);
    }

    .SelecaoEnderecos{
        display: none;
        width: 80%;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    
    .SelecaoInicial{
        margin-top: 15px;
        margin-right: 2%;
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
     
        
    }
    
    .SelecaoFinal{
        margin-top: 15px;
        margin-left: 2%;
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    
    
    .SelecaoInicial #inputRuaInicial,
    .SelecaoInicial #InputModuloInicial,
    .SelecaoInicial #InputPosicaoInicial{
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    
    .SelecaoFinal #inputRuaFinal,
    .SelecaoFinal #InputModuloFinal,
    .SelecaoFinal #InputPosicaoFinal{
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .SelecaoEnderecos label{
        font-size: 15px;
        font-weight: bold;
    }

    .SelecaoEnderecos input{
        font-size: 15px;
        font-weight: bold;
        border: 2px solid darkgray;
        border-radius: 10px;
    }

    .DivBotoes{
        width: 80%;
        margin-left: 10%;
        display: none;
        justify-content: center;
    }

    .DivBotoes button{
       margin-top: 10px;
       font-size: 15px;
       text-align: center;
       margin-left: 10px;
       border: 2px solid lightgray;
       border-radius: 5px;
       background-color: rgb(17, 45, 126);
       color: white;
       cursor: pointer;
    }
    
}
