body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.Geral {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 870px) {
    .imagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        padding: 20px;
    }
    
    
    .imagem img {
        width: 60%;

    }
    
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        padding: 20px;
    }


.formulario1 {
    height: auto;
    width: 60%;
    background-color: rgba(198, 237, 253, 0.5);
    text-align: center;
    border: 2px solid rgb(17, 45, 126);
    border-radius: 10px;
    margin-top: 15px;
    box-sizing: border-box;
}

.Campo {
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
}

.Campo input {
    width: 95%;
    height: 8vh;
    padding: 10px;
    border: 2px solid rgb(17, 45, 126);
    border-radius: 10px;
    box-sizing: border-box;
}

.Campo label {

    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    box-sizing: border-box;
}

#BotaoLogin {

    width: 50%;
    height: 6vh;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(17, 45, 126);
    color: white;
    margin-top: 30px;
    box-sizing: border-box;
}

#UsuarioNegado{
    color: red;
}
}