* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    @media (max-width: 800px) {
    .Titulo h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    }
    
    body {  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
    .Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    color: rgb(17, 45, 126);
    }
    
    .Titulo img {
    margin-right: 50PX;
    background-size: 10%;
    }
    
    .Corpo {
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(17, 45, 126);
    border-radius: 10px;
    }
    

    .Opcoes {
      display: flex;

      align-items: start;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: white ;
      width: 80%;
      border: 2px solid rgb(17, 45, 126);
      border-radius: 10px;
      }

      #Configuracoes{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        width: 90px;
        background-color: lightgray;
        color: black;
        border: 2px solid rgb(17, 45, 126);
        border-radius: 10px;
        margin-left: 5px;

      }
    
    
    .TituloPrograma {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(17, 45, 126);
    width: 80%;
    margin-top: 10px;
    border: 2px solid rgb(17, 45, 126);
    border-radius: 10px;
    max-height: 45px;
    }
    
    h2{
    margin-top: 5px;
    color: white;
    font-size: 25px;
    font-family: Cambria;
    }
        
    
    #Usuário{
        margin-top: 25px;
    }
    
    

    .Rodape{
 
    margin: 0 auto;
    background-color: rgb(17, 45, 126);
    width: 80%;
    border: 2px solid rgb(17, 45, 126);
    border-radius: 10px;
    min-height: 35px;
    max-height: 35px;
    margin-bottom: 20px;
      }

.Rodape p{
  margin-top: 8px;
  }

.TabelaContainer,
.TabelaInformacoes {
  border-collapse: collapse;
  border: 2px solid darkgray;
  margin-left: 10%;
  width: 80%;
  max-width: 1550px;
  min-height: 600px;
  max-height: 650px;
  text-align: center;
  margin-top: 10px;
  overflow: auto;
  margin-bottom: 50px;
  }

  
        
.TabelaContainer .TabelaTabelaDistribuicao{
  font-size: 15px;
  border-collapse: collapse;
  border: 2px solid darkgray;
  min-width: 2000px;
  overflow: auto;
}

.TabelaInformacoes .TabelaInformacao {
  font-size: 15px;
  border-collapse: collapse;
  border: 2px solid darkgray;
  min-width: 100%;
  overflow: auto;
  overflow-x: auto;
}
        
.TabelaContainer .TabelaTabelaDistribuicao th,
.TabelaInformacoes .TabelaInformacao th {
  background-color: rgb(17, 45, 126);;
  max-height: 20px;
}
        
.TabelaContainer .TabelaTabelaDistribuicao td,
.TabelaInformacoes .TabelaInformacao td {
  height: 40px; /* Defina a altura desejada em pixels */
  vertical-align: middle; /* Centraliza o conteúdo verticalmente */
  overflow: hidden; /* Oculta o conteúdo extra que ultrapassar a altura definida */
}
        

.TabelaContainer .TabelaTabelaDistribuicao thead{
  position: sticky;
  top: 0;
  background-color: rgb(17, 45, 126);
  z-index: 1;
  border: 2px solid rgb(17, 45, 126);
  color: white;
}

.TabelaInformacoes .TabelaInformacao thead {
  position: sticky;
  top: 0;
  background-color: rgb(17, 45, 126);
  z-index: 1;
  border: 2px solid rgb(17, 45, 126);
  color: white;
  height: 4vh;
}



#loader {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
        

.ModalLoading {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}
        
#loader1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
        

.ModalLoading1 {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

  #InputBusca{
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    width: 80%;
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    min-height: 30px;
  }

  .Usuarios{
    display: flex;
    justify-content: center;
  }

  #Usuarios {
    font-size: 16px;
    display: flex;
    justify-content: left;  
    background-color: white;
    width: 25%;
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    min-height: 30px;
  }
    
  #VerificarPecasFaltando {
    align-items: center;
    font-size: 16px; 
    background-color: white;
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    min-height: 30px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(17, 45, 126);
    color: white;
  }
      


  #ButtonQuantidade, 
  #ButtonReposto,
  #ButtonSeparado,
  #ButtonData,
  #ButtonNota,
  #ButtonUsuario,
  #ButtonProduto,
  #ButtonValor {
    /* Defina o tamanho do botão */
    margin-left: 5px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  #ButtonQuantidade img,
  #ButtonReposto img,
  #ButtonSeparado img,
  #ButtonData img,
  #ButtonNota img,
  #ButtonUsuario img,
  #ButtonProduto img,
  #ButtonValor img  {
    width: 100%;
    height: 100%;
    /* Adicione outros estilos desejados para a imagem, se necessário */
  }


  .TabelaUsuarios {
    border-collapse: collapse;
    border: 2px solid darkgray;
    margin-left: 10%;
    width: 80%;
    max-width: 1550px;
    min-height: 600px;
    max-height: 650px;
    text-align: center;
    margin-top: 10px;
    overflow: auto;
    }
          
  .TabelaUsuarios .TabelaUsuarios1 {
    font-size: 20px;
    border-collapse: collapse;
    border: 2px solid darkgray;
    min-width: 1500px;
    overflow: auto;
  }
          
  .TabelaUsuarios .TabelaUsuarios1 th {
    background-color: lightgray;
    max-height: 20px;
  }
          
  .TabelaUsuarios .TabelaUsuarios1 td {
    height: 40px; /* Defina a altura desejada em pixels */
    vertical-align: middle; /* Centraliza o conteúdo verticalmente */
    overflow: hidden; /* Oculta o conteúdo extra que ultrapassar a altura definida */
  }
          
  .TabelaUsuarios .TabelaUsuarios1 thead {
    position: sticky;
    top: 0;
    background-color: lightgray;
 
    border: 2px solid darkgray;
  }


  .BuscaUsuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;

  }
  
  #InputBuscaUsuario {
    font-size: 20px;
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 10px;
    min-height: 30px;
    flex: 1; /* Ocupa todo o espaço disponível */
  }

  #AdicionarUsuario{
    margin-right: 5px;
    color: rgb(17, 45, 126);
    font-size: 35px;
    margin-left: 10px; /* Espaçamento entre a input e a imagem */
    cursor: pointer;
    
  }

  #RemoverUsuario{
    margin-right: 5px;
    color: rgb(17, 45, 126);
    font-size: 35px;
    margin-left: 10px; /* Espaçamento entre a input e a imagem */
    cursor: pointer;
    
  }

  #EditarUsuario{
    margin-right: 5px;
    color: rgb(17, 45, 126);
    font-size: 30px;
    margin-left: 10px; /* Espaçamento entre a input e a imagem */
    cursor: pointer;
    
  }

  .ModalNovoUsuario {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: auto;
}

.ModalNovoUsuario-content   Input{
  position: relative;
    width: 100%;
    font-size: 25px;
    font-family: Arial;
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
}

.ModalNovoUsuario-content   select{
    position: relative;
    width: 100%;
    font-size: 20px;
    font-family: Arial;
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 2px;
}

.ModalNovoUsuario-content   button{
    font-size: 25px;
    font-family: Arial;
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(17, 45, 126);
    color: black;
    margin-top: 20px;
    margin-left: 38%;
    cursor: pointer;
}


.ModalNovoUsuario-content label{
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold
}

#NovoUsuario{
  margin-top: 20px;
}


.ModalNovoUsuario-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 500px;
    position: relative;
    z-index: 1;
    margin-top: 200px;
}

.ModalNovoUsuario-content h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(17, 45, 126);
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    border: 5px;
    margin: 0;
    z-index: 2;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}

.fechar:hover,
.fechar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ModaoEditarUsuarios {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: auto;
}

.ModaoEditarUsuarios-content   Input{
position: relative;
  width: 100%;
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ModaoEditarUsuarios-content   select{
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 2px;
}

.ModaoEditarUsuarios-content   button{
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(17, 45, 126);
  color: black;
  margin-top: 20px;
  margin-left: 38%;
  cursor: pointer;
}


.ModaoEditarUsuarios-content label{
margin-top: 4px;
margin-bottom: 4px;
font-weight: bold
}

#EdicaoUsuario{
margin-top: 20px;
}


.ModaoEditarUsuarios-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 500px;
  position: relative;
  z-index: 1;
  margin-top: 200px;
}

.ModaoEditarUsuarios-content h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(17, 45, 126);
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  border: 5px;
  margin: 0;
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.ModalPeçasFaltantes-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 500px;
  position: relative;
  z-index: 1;
  max-height: 30vh;
  overflow: auto;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ModalPeçasFaltantes-content h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
