/* Paleta de cores para Empresa A */
:root.palheta-empresa-a {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff;
}

/* Paleta de cores para Empresa B */
:root.palheta-empresa-b {
    --cor1: rgb(255, 255, 255);
    --cor2: black;
    --cor3: darkgray;
    --cor4: black;
}

#loader {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

.ModalLoading {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  }

  .Corpo{
    background-color: var(--cor2);
}

  .Menu {
    width: 100%; /* Ocupar toda a largura da tela */
    display: flex;
    justify-content: space-between; /* Distribui os elementos uniformemente */
    align-items: center;
}

.left-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.right-menu-item {
    margin-left: auto; /* Isso empurrará o item "Nome do Usuário" para a direita */
}


.TituloPrograma {
    margin-top: 15px;
    font-size: 25px;
    background-color: var(--cor2);
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.TituloPrograma h2 {
    color: var(--cor4);
    font-weight: bold;
}

.TabelasReposicao {
    width: 100%;
    height: 74vh;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid black;
    overflow-y: scroll;
}

.TabelaFilaReposicao {
    width: 100%;
    border-collapse: collapse;
}

.TabelaFilaReposicao th, .TabelaFilaReposicao td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

    
}

.TabelaFilaReposicao thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--cor2);
    color: var(--cor4);
}

.TabelaFilaReposicao th {
    background-color: var(--cor2);
    color: var(--cor4);
}

/* Rodapé */
.Rodape {
    text-align: center;
    padding: 20px 0;
}



/* Responsividade */
@media (max-width: 768px) {
    .Menu ul {
        flex-direction: column;
        align-items: center;
    }

    .Menu ul li {
        margin: 10px 0;
    }

    .TabelasReposicao {
        padding: 15px;
    }

    .TabelaFilaReposicao th, .TabelaFilaReposicao td {
        padding: 6px;
        font-size: 12px; /* Reduzindo o tamanho da fonte para dispositivos menores */
    }
}

@media (max-width: 480px) {
    .TituloPrograma, .TabelasReposicao {
        margin: 10px;
    }
}
