* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: rgb(200, 200, 200);
    --cor2: rgb(17, 45, 126);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
}

.Titulo {
    height: 50px;
    width: 100%;
    background-color: var(--cor2);
    text-align: center;
    color: white;
}



@media screen and (min-width: 992px) {

    /* Estilos para o container dos filtros */
    .Filtros {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 15vh;
        background-color: var(--cor1);
    }

    /* Estilos para cada filtro individual (DataInicio, DataFim, Retorna, Faturado, Metas) */
    .DataInicio,
    .DataFim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    .Retorna,
    .Faturado {
        font-size: 1.8vw;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }

    /* Estilos para os rótulos dos inputs de data */
    .DataInicio label,
    .DataFim label,
    .Retorna label,
    .Faturado label {
        margin-bottom: 5px;
        color: var(--cor2);
        font-weight: bold;
    }

    /* Estilos para os inputs de data */
    .DataInicio input,
    .DataFim input {
        text-align: center;
        border: 2px solid var(--cor2);
        border-radius: 10px;
        font-size: 16px;
        padding: 5px;
    }


    /* Estilos para o botão de filtrar */
    #btnFiltrar {
        background-color: var(--cor2);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 8px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    #btnFiltrar:hover {
        background-color: darkblue;
    }


    .Produtividade {

        display: flex;
        justify-content: left;
        width: 100%;
        height: 60vh;
    }

    .linha {
        background-color: black;
        width: 2px;
        height: 79.5vh;
    }

    .ProdutividadeRepositor,
    .ProdutividadeSeparador {
        width: 50%;
        background-color: white;
        height: 79.5vh;
        text-align: center;


    }


    .TabelaContainer {
        width: 100%;
        height: 96%;
        text-align: center;
        margin-top: 10px;
        overflow: auto;
        align-items: center;
        justify-content: center;

    }

    .TabelaContainer2 {
        margin-left: 40px;
        width: 90%;
        height: 81%;
        text-align: center;
        margin-top: 10px;
        overflow: auto;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--cor1);
    }

    #TAbelaRepositor,
    #TAbelaSeparador {

        width: 100%;
        font-size: 15px;
        border-collapse: collapse;
        border: 2px solid var(--cor1);

    }

    #TAbelaRepositor th,
    #TAbelaSeparador th {
        background-color: var(--cor2);
        max-height: 50px;
        color: white;
    }

    #TAbelaRepositor tr,
    #TAbelaSeparador tr {
        height: 40px;
        /* Altura máxima para as linhas da tabela */
    }

    #TAbelaRepTAbelaSeparadorositor td,
    #TAbelaRepositor td {
        vertical-align: middle;
        overflow: hidden;
    }


    .TotalReposicao,
    .TotalSeparacao {
        margin-left: 40px;
        width: 90%;
        margin-top: 10px;
        display: flex;
        justify-content: left;
        height: 8vh;
        background-color: var(--cor2);
    }

    .TotalReposicao i,
    .TotalSeparacao i {
        margin-left: 10px;
        font-size: 5vh;
        margin-top: 1vh;
        color: yellow;
    }

    .TotalReposicao label,
    .TotalSeparacao label {
        margin-left: 2.5vh;
        font-size: 2vh;
        margin-top: 2.6vh;
        color: white;
        font-weight: bold;
    }

    #LabelReposto {
        font-weight: bold;
        margin-left: 15px;
    }

    #LabelTotalReposto {
        font-weight: bold;
    }

    #LabelSeparado {
        font-weight: bold;
        margin-left: 8px;
        /* Margem fixa para todos os tamanhos de tela */
    }

    #LabelTotalSeparado {
        font-weight: bold;
    }
}

/* Estilos para telas menores (menor que 992px) */
@media screen and (max-width: 991px) {

    .Filtros {
        flex-direction: column;
        align-items: center;
        
    }

    /* Estilos para cada filtro individual (DataInicio e DataFim) */
    /* Estilos para cada filtro individual (DataInicio e DataFim) */
    .DataInicio,
    .DataFim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .Retorna,
    .Faturado {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: darkblue;
        margin-top: 10px;
    }

  

    /* Estilos para os rótulos dos inputs de data */
    .DataInicio label,
    .DataFim label,
    .Retorna label,
    .Faturado label {
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 3vw; /* Ajuste o tamanho da fonte conforme necessário */
        font-weight: bold;
    }

    /* Estilos para os inputs de data */
    .DataInicio input,
    .DataFim input {
        text-align: center;
        border: 2px solid var(--cor2);
        border-radius: 10px;
        font-size: 3vw; /* Ajuste o tamanho da fonte conforme necessário */
        padding: 4px; /* Ajuste o padding conforme necessário */
    }

    /* Estilos para o botão Filtrar */
    #btnFiltrar {
        background-color: var(--cor2);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
        font-size: 3vw; /* Ajuste o tamanho da fonte conforme necessário */
        cursor: pointer;
        margin-top: 20px;
        width: 100%;
    }

    #btnFiltrar:hover {
        background-color: darkblue;
    }


    /* Coloque aqui os estilos para telas menores */
    .Produtividade {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .linha {
        background-color: black;
        width: 100%;
        height: 0.5vh;
    }

    .ProdutividadeRepositor,
    .ProdutividadeSeparador {
        width: 100%;
        background-color: white;
        height: 70vh;
        text-align: center;

    }

    .TabelaContainer {
        width: 100%;
        height: 90%;
        text-align: center;
        margin-top: 10px;
        overflow: auto;
        align-items: center;
        justify-content: center;
    }

    .TabelaContainer2 {
        width: 100%;
        height: 80%;
        text-align: center;
        margin-top: 10px;
        overflow: auto;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--cor1);
    }

    #TAbelaRepositor,
    #TAbelaSeparador {
        width: 100%;
        font-size: 15px;
        border-collapse: collapse;
        border: 2px solid var(--cor1);
    }

    #TAbelaRepositor th,
    #TAbelaSeparador th {
        background-color: var(--cor2);
        max-height: 50px;
        color: white;
    }

    #TAbelaRepositor tr,
    #TAbelaSeparador tr {
        height: 40px;
        /* Altura máxima para as linhas da tabela */
    }

    #TAbelaRepositor td,
    #TAbelaSeparador td {
        vertical-align: middle;
        overflow: hidden;
    }

    .TotalReposicao,
    .TotalSeparacao {

        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: left;
        height: 8vh;
        background-color: var(--cor2);
    }

    .TotalReposicao i,
    .TotalSeparacao i {
        margin-left: 10px;
        font-size: 5vh;
        margin-top: 1vh;
        color: yellow;
    }

    .TotalReposicao label,
    .TotalSeparacao label {
        margin-left: 2.5vh;
        font-size: 2vh;
        margin-top: 2.6vh;
        color: white;
        font-weight: bold;
    }

    #LabelReposto {
        font-weight: bold;
        margin-left: 15px;
    }

    #LabelTotalReposto {
        font-weight: bold;
    }

    #LabelSeparado {
        font-weight: bold;
        margin-left: 8px;
        /* Margem fixa para todos os tamanhos de tela */
    }

    #LabelTotalSeparado {
        font-weight: bold;
    }

}
