
/* Mantendo as configurações gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Paleta de cores para Empresa A */
:root.palheta-empresa-a {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff;
}

/* Paleta de cores para Empresa B */
:root.palheta-empresa-b {
    --cor1: rgb(255, 255, 255);
    --cor2: #00838F;
    --cor3: darkgray;
    --cor4: black;
}

/* Estilo para o corpo */
.Corpo {
    background-color: var(--cor2);
}

/* Estilo para o menu principal */
.Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilização dos menus e submenus */
.Menu ul {
    font-size: 15px;
    background-color: var(--cor2);
    padding: 0;
}

.Menu ul li {
    display: inline;
    position: relative;
}

.Menu ul li a {
    color: var(--cor4);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.Menu ul li a:hover {
    background-color: var(--cor3);
}

.Menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    background-color: var(--cor3);

}

.Menu ul li:hover ul {
    display: block;
    z-index: 9999;
    background-color: var(--cor2);
}

.Menu ul ul {
    width: 250px;

}


.Menu ul ul li a {
    display: flex;
    color: var(--cor4);
    justify-content: left;
}


/* Estilo para o título do programa */
.TituloPrograma {
    margin-top: 15px;
    font-size: 25px;
    background-color: var(--cor2);
    width: 100%;
    text-align: center;
}

.TituloPrograma label {
    color: var(--cor4);
    font-weight: bold;
}

/* Estilos para o gerenciamento e indicadores */
.Gerenciamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Indicador {
    width: 50%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
}

/* Estilização dos medidores */
#medidorReposicao,
#medidorSeparacao,
#medidorEnderecos,
#medidorPedidos {
    width: 35%;
    position: relative;
    max-width: 35%;
    margin-left: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para as etiquetas dos indicadores */
.Reposicao label,
.Separacao label,
.Enderecos label,
.PedidosCompletos label {
    font-size: 2vh;
    font-weight: bold;
    margin-top: 10px;
}

.MetaReposicao,
.PecasRepostas,
.MetaPecas,
.PecasRealizadas,
.MetaEnderecos,
.EnderecosRealizados,
.TotalPedidosRetorna,
.PedidosCompleto,
.Diferenca,
.DiferencaRealizada,
.DiferencaEnderecos,
.DiferencaPedidos {
    width: 100%;
    max-width: 100%; /* Definindo um máximo para evitar expansão */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
/* Estilo para os botões de cor nas informações de legenda */
.MetaReposicao button,
.PecasRepostas button,
.MetaPecas button,
.PecasRealizadas button,
.MetaEnderecos button,
.EnderecosRealizados button,
.TotalPedidosRetorna button,
.PedidosCompleto button, 
.Diferenca button,
.DiferencaRealizada button,
.DiferencaEnderecos button,
.DiferencaPedidos button {
    background-size: 10%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Estilo para as etiquetas nas informações de legenda */
.MetaReposicao label,
.PecasRepostas label,
.MetaPecas label,
.PecasRealizadas label,
.MetaEnderecos label,
.EnderecosRealizados label,
.TotalPedidosRetorna label,
.PedidosCompleto label,
.Diferenca label,
.DiferencaRealizada label,
.DiferencaEnderecos label,
.DiferencaPedidos label {
    margin-left: 10px;
    font-size: 2.3vh;
    font-weight: bold;
}

@media screen and (max-width: 900px) {

    /* Mudar o layout das divs principais e fazer com que ocupem 100% da largura */
    .Gerenciamento {
        flex-direction: column; /* Empilha as divs uma abaixo da outra */
        width: 98%; /* Ocupa a largura total */
    }

    /* Ajuste de largura para ocupar 100% da largura */
    .Indicador {
        width: 100%; 
        box-sizing: border-box; /* Garante que padding e borda não expandam a div além de 100% */
        padding: 10px; /* Exemplo de padding, ajuste conforme necessário */
        margin-bottom: 20px; /* Espaçamento entre as divs */
    }

    /* Ajuste para o medidor */
    #medidorReposicao,
    #medidorSeparacao,
    #medidorEnderecos,
    #medidorPedidos {
        width: 80%; 
        margin: 0 auto; 
    }

    /* Ajustes para a legenda */
    .Legenda {
        flex-direction: column; /* Mostra a legenda abaixo das barras de progresso */
    }

    /* Ajuste de tamanho de fonte para títulos */
    .Indicador h3 {
        font-size: 18px; 
    }
    .MetaReposicao label,
.PecasRepostas label,
.MetaPecas label,
.PecasRealizadas label,
.MetaEnderecos label,
.EnderecosRealizados label,
.TotalPedidosRetorna label,
.PedidosCompleto label,
.Diferenca label,
.DiferencaRealizada label,
.DiferencaEnderecos label,
.DiferencaPedidos label {
    margin-left: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    
}
}
