:root.palheta-empresa-a {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff;
}

/* Paleta de cores para Empresa B */
:root.palheta-empresa-b {
    --cor1: rgb(255, 255, 255);
    --cor2: #00838F;
    --cor3: darkgray;
    --cor4: black;
}

.Corpo{
    background-color: var(--cor2);
}

.Menu {
    width: 100%; /* Ocupar toda a largura da tela */
    display: flex;
    justify-content: space-between; /* Distribui os elementos uniformemente */
    align-items: center;
}

.left-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.right-menu-item {
    margin-left: auto; /* Isso empurrará o item "Nome do Usuário" para a direita */
}


.TituloPrograma {
    margin-top: 15px;
    font-size: 25px;
    background-color: var(--cor2);
    width: 100%;
    text-align: center;
    color: var(--cor4);
    padding: 10px;
}

/* Estilo do Modal de Loading */
.ModalLoading {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.Filtros label, .Filtros select, .Filtros input, .Filtros button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.Filtros button {
    background-color: var(--cor2);
    color: var(--cor4);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.Filtros button:hover {
    background-color: #0056b3;
}

/* Informações */
.Informacoes {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.InfoItem {
    text-align: center;
}

.InfoItem label {
    display: block;
    margin-bottom: 10px;
}

/* Tabela */
.DivTabela {
    margin-top: 30px;
    overflow-x: auto;
}

#TabelaInventarios {
    width: 100%;
    border-collapse: collapse;
}

#TabelaInventarios th, #TabelaInventarios td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#TabelaInventarios th {
    background-color: #333;
    color: #fff;
}

#TabelaInventarios tr:hover {
    background-color: #f5f5f5;
}