<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS GERENCIAL</title>
    <link rel="stylesheet" href="/static/css/estiloDistribuicao.css">
    <link rel="stylesheet" href="/static/css/TelaPrincipal.css">




</head>
<body>
    <div class="Titulo">
        <a href="TelaPrincipal.html">
        <img src="/static/imagens/IconeWms.png" alt="" style="width: 100px; height: 100px;">
        </a>
        <h1>WMS GERENCIAL</h1>
    </div>

    <div class="Corpo">
        <nav class="Menu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/Usuarios">Gerenciamento de Usuários</a></li>
                        <li><a href="/Chamados">Gerenciamento de Chamados</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="/Reposicao">Fila de Reposição</a></li>
                        <li><a href="/Distribuicao">Distribuição de Pedidos</a></li>
                        <li><a href="/Enderecos">Cadastro de Endereços</a></li>
                    </ul>
                </li>

            </ul>
            
        </nav>
    </div>  

    <div class="TituloPrograma">
        <h2>Distribuição de Pedidos</h2></div>

        <div class="Busca">
            <input id="InputBusca" type="search" class="InputBusca" placeholder="Digite aqui sua busca!">
        </div>


        <div class="Usuarios">
            <select id="Usuarios" onchange="if (this.value !== 'Selecione um usuário para Atribuição!')">
                <option disabled selected>Selecione um usuário para Atribuição!</option>
            </select>
            <button id="VerificarPecasFaltando">Peças Faltantes</button>
            <button id="Priorizacao" onclick="DefinirPrioridade()">Priorizar Pedido</button>
        </div>

    
    <div class="TabelaContainer">
        <table border="2" class="TabelaTabelaDistribuicao" id="TabelaTabelaDistribuicao">

        </table>
        </div>

        <div id="ModalLoading" class="ModalLoading">
            <span id="loader"><img src="/static/imagens/IconeLoading.gif" style="width: 80px; height: 80px;" id="ImagemLoading">
          </span>
          </div>
        </div>

        <div id="ModalPeçasFaltantes" class="modal">
            <div class="ModalPeçasFaltantes-content">
                <span class="close">&times;</span>
                <h3 id="TituloModal">Peças Faltantes no Pedido</h3>
                <ul id="ListaPeçasFaltantes"></ul>
            </div>
        </div>

        <div class="TabelaInformacoes">
            <table border="2" class="TabelaInformacao" id="TabelaInformacao">
            </table>
        </div>


    
    <script src="/static/js/funcoes.js"></script>
    

</body>
</html>
