<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS GERENCIAL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/TelaPrincipal.css">
    <link rel="stylesheet" href="/static/css/estiloFilaReposicao.css">
    <link rel="stylesheet" href="/static/css/estiloDistribuicao.css">



</head>
<body>
    <div class="Titulo">
        <a href="/home">
        <img src="/static/imagens/IconeWms.png" alt="" style="width: 100px; height: 100px;">
        </a>
        <h1>WMS GERENCIAL</h1>
    </div>

     <div class="Corpo">
        <nav class="Menu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/Usuarios">Gerenciamento de Usuários</a></li>
                        <li><a href="/Chamados">Gerenciamento de Chamados</a></li>
                        <li><a href="/CadastroCaixa">Cadastro Qr das Caixas</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="/Reposicao">Fila de Reposição</a></li>
                        <li><a href="/Distribuicao">Distribuição de Pedidos</a></li>
                        <li><a href="/Enderecos">Cadastro de Endereços</a></li>
                        <li><a href="/Embalagens">Consumo Embalagens</a></li>
                    </ul>
                </li>

            </ul>
            
        </nav>
    </div> 

    <div class="TituloPrograma">
        <h2>Fila Reposição de Op's</h2></div>
    <div>


    <div class="TabelasReposicao">
        <table border="2" class="TabelaFilaReposicao" id="TabelaFilaReposicao">
        </table>
    </div>    

    <div class="Rodape">
        <i id="exportButton" class="bi bi-file-earmark-excel-fill" title="Exportar para Excel"></i>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

    <script src="/static/js/funcoesFilaReposicao.js"></script>
    

</body>
</html>
