<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS GERENCIAL</title>
    <link rel="stylesheet" href="static/css/TelaPrincipal.css">
    <link rel="stylesheet" href="static/css/estiloDistribuicao.css">
    <link rel="stylesheet" href="static/css/estiloChamados.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    

    <style>
         .Filtros, .Informacoes {
            margin: 20px 0;
        }

        .Filtros label, .Filtros input, .Filtros button {
            margin-right: 20px;
        }

        .Informacoes label {
            font-size: 20px;
            margin-right: 10px;
        }

        .DivTabela {
            margin-top: 20px;
        }

        .Informacoes {
    margin: 20px 0;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os elementos se movam para a próxima linha quando necessário */
}

.Informacoes label {
    font-size: 20px;
    margin-right: 10px;
}


.InfoItem {
    margin-bottom: 10px;
    width: 50%;
}

.InfoItem label {
    font-size: 20px;
    margin-right: 10px;
}

.InfoItem label {
    display: block; /* Coloca cada rótulo e resultado em uma linha separada */
}


#DivTabela {
    text-align: center; /* Alinha o conteúdo no centro horizontalmente */
}

#TabelaInventarios {
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse;
    margin-top: 20px;
}

#TabelaInventarios th, #TabelaInventarios td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

#TabelaInventarios thead{
    background-color: rgb(17, 45, 126);
    color: white;
    font-size: 20px;
}


#TabelaInventarios tbody tr:hover{
    background-color: rgb(62, 128, 243);
    
}

    </style>


</head>
<body>

    <div class="Corpo">
        <nav class="Menu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/Usuarios">Gerenciamento de Usuários</a></li>
                        <li><a href="/Chamados">Gerenciamento de Chamados</a></li>
                        <li><a href="/CadastroCaixa">Cadastro Qr das Caixas</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="/Reposicao">Fila de Reposição</a></li>
                        <li><a href="/Distribuicao">Distribuição de Pedidos</a></li>
                        <li><a href="/Enderecos">Cadastro de Endereços</a></li>
                        <li><a href="/Embalagens">Consumo Embalagens</a></li>
                        <li><a href="/Inventarios">Relatório Inventários</a></li>
                    </ul>
                </li>

            </ul>
            
        </nav>
    </div>  

    <div class="TituloPrograma">
        <h2>Acompanhamento Inventário</h2></div>
    </div> 
    <div class="Filtros" style="display: flex; align-items: center; text-align: center; justify-content: center;">
        <label id="LabelNatureza" for="text">Natureza:</label>
        <select style="margin-right: 20px;" id="SelectNaturezas">
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="">Ambas</option>
        </select>
        <input id="InputDataInicio" type="date" placeholder="Data Inicial">
        <input id="InputDataFim" type="date" placeholder="Data Final">
        <button id="BotaoConsultar" style="font-size: 20px; cursor: pointer;">Consultar</button>
        <i title="Exportar Excel" id="ImagemExcel" class="bi bi-file-earmark-excel-fill" style="color: green; cursor: pointer; font-size: 25px; display: none;"></i>
    </div>

    <div class="Informacoes" id="Infomacoes1">
        <div class="InfoItem">
            <label id="LabelPratTotal" for="">Endereços Totais:</label>
            <label id="LabelResultPratTotal" for="text" style="font-size: 30px; background-color: rgb(17, 45, 126); color: white; border-radius:5px;"></label>

            <label id="LabelPratInventariadas" for="text">Endereços Inventariados:</label>
            <label id="LabelResultPratInventariadas" for="text" style="font-size: 30px; background-color: rgb(17, 45, 126); border-radius:5px; color:white;"></label>
        </div>
    
     
        <div class="InfoItem">
            <label id="LabelPecasTotais" for="">Peças Totais:</label>
            <label id="LabelResultPecasTotais" for="text" style="font-size: 30px; background-color: rgb(17, 45, 126); color: white; border-radius:5px;"></label>

            <label id="LabelPecasInventariadas" for="text">Peças Inventariadas:</label>
            <label id="LabelResultPecasInventariadas" for="text" style="font-size: 30px; background-color: rgb(17, 45, 126); color: white; border-radius:5px;"></label>
        </div>
    
        
    </div>

    <div class="DivTabela">
        <table id="TabelaInventarios" ></table>
    </div>
        

    
<script>
    const Api = 'http://192.168.0.183:5000/api/RelatorioInventario?';
    const Token1= 'a40016aabcx9';

    document.getElementById('BotaoConsultar').addEventListener('click', async () => {
        
        const Natureza = document.getElementById('SelectNaturezas').value;
        const DataInicio = document.getElementById('InputDataInicio').value;
        const DataFim = document.getElementById('InputDataFim').value;
        await ChamadaApiInventarios(Api, Natureza, DataInicio, DataFim);
        console.log(Natureza);
        console.log(DataInicio);
        console.log(DataFim);
        

    })
    document.getElementById('ImagemExcel').addEventListener('click', async () => {
        
        const Natureza = document.getElementById('SelectNaturezas').value;
        const DataInicio = document.getElementById('InputDataInicio').value;
        const DataFim = document.getElementById('InputDataFim').value;
        
        await ChamadaApiInventariosExel(Api, Natureza, DataInicio, DataFim, "True");
        console.log(Natureza);
        console.log(DataInicio);
        console.log(DataFim);
        

    })



    async function ChamadaApiInventarios(api, natureza, dataInicio, dataFim) {
      try {
        const response = await fetch(`${api}natureza=${natureza}&datainicio=${dataInicio}&datafinal=${dataFim}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': Token1
          },
        });

        if (response.ok) {
          const data = await response.json();
          console.log(data);
          criarTabelaInventario(data[0]['5- Detalhamento Ruas:']);
          document.getElementById("LabelResultPratTotal").textContent = data[0]['3 - Total Enderecos'];
          document.getElementById("LabelResultPratInventariadas").textContent = data[0]['4- Enderecos Inventariados'];
          document.getElementById("LabelResultPecasTotais").textContent = data[0]['1: Total de Peças'];
          document.getElementById("LabelResultPecasInventariadas").textContent = data[0]['2- Pçs Inventariadas'];
          document.getElementById('Infomacoes1').style.display = 'flex';
          document.getElementById('ImagemExcel').style.display = 'flex';
        
        } else {
          throw new Error('Erro No Retorno');
        }
      } catch (error) {
        console.error(error);
      }
    }

    
    async function ChamadaApiInventariosExel(api, natureza, dataInicio, dataFim, Relatorio) {
      try {
        const response = await fetch(`${api}natureza=${natureza}&datainicio=${dataInicio}&datafinal=${dataFim}&emitirRelatorio=${Relatorio}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': Token1
          },
        });

        if (response.ok) {
          const data = await response.json();
          console.log(data);
          exportToExcel(data, 'RelatórioInventário.xlsx', 'Relatório Inventário')
        } else {
          throw new Error('Erro No Retorno');
        }
      } catch (error) {
        console.error(error);
      }
    }
    
async function criarTabelaInventario(listaInventarios) {
    const tabelaInventarios = document.getElementById('TabelaInventarios');
    tabelaInventarios.innerHTML = ''; // Limpa o conteúdo da tabela antes de preenchê-la novamente

    // Cria o cabeçalho da tabela
    const cabecalho = tabelaInventarios.createTHead();
    const cabecalhoLinha = cabecalho.insertRow();

    const cabecalhoCelula1 = cabecalhoLinha.insertCell(0);
    cabecalhoCelula1.innerHTML = 'Rua';
    const cabecalhoCelula2 = cabecalhoLinha.insertCell(1);
    cabecalhoCelula2.innerHTML = 'Quantidade Endereços';
    const cabecalhoCelula3 = cabecalhoLinha.insertCell(2);
    cabecalhoCelula3.innerHTML = 'Status';
    const cabecalhoCelula4 = cabecalhoLinha.insertCell(3);
    cabecalhoCelula4.innerHTML = '% Realizado';

    const corpoTabela = tabelaInventarios.createTBody();

    listaInventarios.forEach(item => {
        const linha = corpoTabela.insertRow();
        const celula1 = linha.insertCell(0);
        celula1.innerHTML = item.Rua;
        const celula2 = linha.insertCell(1);
        celula2.innerHTML = item['Qtd Prat.'];
        const celula3 = linha.insertCell(2);
        celula3.innerHTML = item.status;
        const celula4 = linha.insertCell(3);
        celula4.innerHTML = item['% Realizado'];
    });
}

window.addEventListener('load', () => {
    const inputDataInicio = document.getElementById('InputDataInicio');
    const inputDataFim = document.getElementById('InputDataFim');

    // Obtemos a data atual
    const dataAtual = new Date();

    // Formato da data para preenchimento nas inputs (YYYY-MM-DD)
    const formatoData = 'yyyy-MM-dd';

    // Função para formatar a data
    const formatarData = (data) => {
        const ano = data.getFullYear();
        const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa do zero, então adicionamos 1
        const dia = String(data.getDate()).padStart(2, '0');
        return `${ano}-${mes}-${dia}`;
    };

    // Preenchemos as inputs com a data atual
    inputDataInicio.value = formatarData(dataAtual);
    inputDataFim.value = formatarData(dataAtual);
});

async function exportToExcel(data, fileName, sheetName) {

const ws = XLSX.utils.json_to_sheet(data);
const wb = XLSX.utils.book_new();
await XLSX.utils.book_append_sheet(wb, ws, sheetName || 'Sheet 1');

XLSX.writeFile(wb, fileName || 'exportedData.xlsx');
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="static/js/Chamados.js"></script>


    

</body>
</html>
