<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS GERENCIAL</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/Comparativo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



</head>
<body>

     <div class="Corpo">
        <nav class="Menu">
            <ul class="left-menu">
                <li><a href="/indexMatriz_Teste">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/Usuarios_Teste">Gerenciamento de Usuários</a></li>
                        <li><a href="/Chamados_Teste">Gerenciamento de Chamados</a></li>
                        <li><a href="/CadastroQrCaixas_Teste">Cadastro Qr das Caixas</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="/FilaReposicao_Teste">Fila de Reposição</a></li>
                        <li><a href="/DistribuicaoDePedidos_Teste">Distribuição de Pedidos</a></li>
                        <li><a href="/CadastroDeEnderecos_Teste">Cadastro de Endereços</a></li>
                        <li><a href="/ConsumoEmbalagens_Teste">Consumo Embalagens</a></li>
                        <li><a href="/RelatorioInventario_Teste">Relatório Inventários</a></li>
                        <li><a href="/Tela_Comparativa">Tags X Fisíco</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right-menu-item">
                <li><a href="#">Nome do Usuário</a>
                    <ul>
                        <li><a href="#">Alterar Senha</a></li>
                        <li><a href="/Login_Teste">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="TituloPrograma">
        <h2>Estoque Tag's X Estoque Físico</h2></div>

        <div class="DivTabela">
            <table id="TabelaComparativo" ></table>
        </div>

        

    <script src="./static/js/Comparativo.js"></script>
    

</body>
</html>
