<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS GERENCIAL</title>
    <link rel="stylesheet" href="/static/CSS/index.css">
    <link rel="stylesheet" href="/static/CSS/Usuarios.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



</head>
<body>

    <div class="Corpo">
        <nav class="Menu">
            <ul class="left-menu">
                <li><a href="/indexMatriz_Teste">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/Usuarios_Teste">Gerenciamento de Usuários</a></li>
                        <li><a href="Chamados_Teste.html">Gerenciamento de Chamados</a></li>
                        <li><a href="CadastroQrCaixas_Teste.html">Cadastro Qr das Caixas</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="FilaReposicao_Teste.html">Fila de Reposição</a></li>
                        <li><a href="DistribuicaoDePedidos_Teste.html">Distribuição de Pedidos</a></li>
                        <li><a href="CadastroDeEnderecos_Teste.html">Cadastro de Endereços</a></li>
                        <li><a href="ConsumoEmbalagens_Teste.html">Consumo Embalagens</a></li>
                        <li><a href="RelatorioInventario_Teste.html">Relatório Inventários</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right-menu-item">
                <li><a href="#">Nome do Usuário</a>
                    <ul>
                        <li><a href="#">Alterar Senha</a></li>
                        <li><a href="/LoginTeste">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>  

    <div class="TituloPrograma">
        <h2>Gerenciamento de Usuários</h2></div>

        <div class="BuscaUsuario">
            <input id="InputBuscaUsuario" type="search" class="InputBuscaUsuario" placeholder="Digite aqui sua busca!">
            <i id="AdicionarUsuario" title="Adicionar Usuário" class="bi bi-person-plus-fill"></i>
            <i id="EditarUsuario" title="Editar Usuário" class="bi bi-pencil-square"></i>
        </div>


    <div class="TabelaUsuarios">
        <table border="2" class="TabelaUsuarios1" id="TabelaUsuarios1">

        </table>
        </div>

        <div id="ModalLoading" class="ModalLoading">
            <span id="loader"><img src="static/IMAGENS/IconeLoading.gif" style="width: 80px; height: 80px;" id="ImagemLoading">
          </span>
          </div>
        </div>

        <div id="ModalNovoUsuario" class="ModalNovoUsuario">
          <div class="ModalNovoUsuario-content">
              <span id="FecharModalNovoUsuario" class="fechar">&times;</span>
              <h3>Novo Usuário</h3>
              <label for="Usuario" id="NovoUsuario" class="NovoUsuario">Cód. Usuário:</label>
              <input type="text" id="InputNovoUsuario" class="InputNovoUsuario" onkeydown="checkEnterModal(event, 'InputLoginEditar')">
              <label for="Usuario" id="NomeNovoUsuario" class="NomeNovoUsuario">Nome Usuário:</label>
              <input type="text" id="InputNomeNovoUsuario" class="InputNomeNovoUsuario" onkeydown="checkEnterModal(event, 'InputLoginEditar')">
              <label for="SenhaNovoUsuario" id="SenhaNovoUsuario" class="SenhaNovoUsuario">Senha:</label>
              <input type="password" id="InputSenhaNovoUsuario" class="InputSenhaNovoUsuario" onkeydown="checkEnterModal(event, 'InputConfirmarSenha')">
              <label for="Usuario" id="LabelSituacaoNovoUsuario" class="LabelSituacaoNovoUsuario">Situação do Usuário</label>
              <select id="SituacaoNovoUsuario">
                <option value="">Situação</option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
              </select>
              <label for="Usuario" id="LabelFuncaoUsuario" class="LabelFuncaoUsuario">Função do Usuário</label>
              <select id="FuncaoNovoUsuario">
                <option value="">Função</option>
                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                <option value="SEPARADOR">SEPARADOR</option>
                <option value="REPOSITOR">REPOSITOR</option>
              </select>
              <button type="button" id="salvarNovoUsuario">Salvar</button>
          </div>
      </div>

      <div id="ModaoEditarUsuarios" class="ModaoEditarUsuarios">
        <div class="ModaoEditarUsuarios-content">
            <span id="FecharModalEditarUsuario" class="fechar">&times;</span>
            <h3>Editar Usuário</h3>
            <label for="Usuario" id="EdicaoUsuario" class="EdicaoUsuario">Cód. Usuário:</label>
            <input type="text" id="InputEdicaoUsuario" class="InputEdicaoUsuario" onkeydown="checkEnterModal(event, 'InputLoginEditar')">
            <label for="Usuario" id="NomeEdicaoUsuario" class="NomeEdicaoUsuario">Nome Usuário:</label>
            <input type="text" id="InputNomeEdicaoUsuario" class="InputNomeEdicaoUsuario" onkeydown="checkEnterModal(event, 'InputLoginEditar')">
            <label for="Usuario" id="LabelSituacaoEdicaoUsuario" class="LabelSituacaoEdicaoUsuario">Situação do Usuário:</label>
            <select id="SituacaoEdicaoUsuario">
              <option value="">Situação</option>
              <option value="ATIVO">ATIVO</option>
              <option value="INATIVO">INATIVO</option>
            </select>
            <label for="Usuario" id="LabelFuncaoEdicaoUsuario" class="LabelFuncaoEdicaoUsuario">Função do Usuário:</label>
            <select id="FuncaoEdicaoUsuario">
              <option value="">Função</option>
              <option value="ADMINISTRADOR">ADMINISTRADOR</option>
              <option value="SEPARADOR">SEPARADOR</option>
              <option value="REPOSITOR">REPOSITOR</option>
            </select>
            <button type="button" id="salvarEdicaoUsuario">Salvar</button>
        </div>
    </div>

    

    <script src="/static/JS/FuncoesUsuarios_Teste.js"></script>
    

</body>
</html>