<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wms Gerencial</title>
    <link rel="stylesheet" href="/static/css/estiloLogin.css">
</head>
<body>
    <div class="Geral">
        <div class="imagem">
            <img src="/static/imagens/Icone Wms.png" alt="">
        </div>

        <div class="formulario">
            <label for="text" id="UsuarioNegado"></label>
            <section class="formulario1">
            <form action="" method="post" onsubmit="event.preventDefault(); Login();">
                <div class="Campo">
                    <label type="text" id="LabelLogin" > Login</label>
                    
                </div>
                <div class="Campo">
                    <input type="text" id="InputLogin" placeholder="Usuário/Login" required minlength="1">
                </div>
                <div class="Campo">
                    <input type="password" id="InputSenha" placeholder="Senha" required minlength="1">
                </div>
                <div class="Campo">
                    <input type="text" id="InputEmpresa" placeholder="Empresa" required minlength="1">
                </div>
                <div class="Campo">
                    <input type="submit" id="BotaoLogin" value="Entrar" required minlength="1">
                </div>
            </section>
            </div>


    </div>
    
    
</body>

<script src="/static/js/funcoesLogin.js"></script>

</html>